name: zarli_flutter
description: The official Flutter plugin for the Zarli iOS SDK. Monetize your Flutter apps with premium interactive ads.
version: 0.0.2
homepage: https://zarli.ai
repository: https://github.com/zarli-ai/zarli-flutter

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: '>=3.3.0'

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  plugin:
    platforms:
      ios:
        pluginClass: SwiftZarliFlutterPlugin
